name: Deploy on DEV server
on:
  push:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      
    - name: set env variables      
      run: |
        echo "${{secrets.DEV_ENV}}" > .env
    - name: build      
      run: |
        npm ci
        npm run build --if-present    
    - name: upload files
      uses: appleboy/scp-action@master
      with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{secrets.DEV_KEY}}
          # Selecting all folders except "node_modules"
          source: "dist/, package.json, .env, templates/"
          # The path is based on the directory where the user logged into the server starts
          target: "/var/www/dev-be"
    - name: dependency install and restart backned
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.DEV_KEY }}
        script: |
          export NVM_DIR=~/.nvm
          source ~/.nvm/nvm.sh
          pm2 stop dev-be
          cd /var/www/dev-be
          npm i
          pm2 start dev-be