<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduDatt</title>
</head>

<body>

    <div class="">
        <div class="aHl"></div>
        <div id=":5t6" tabindex="-1"></div>
        <div id=":5sw" class="ii gt"
            jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc5NzEyOTQ3ODI2NzU0NDE0NyJd; 4:WyIjbXNnLWY6MTc5NzEyOTQ3ODI2NzU0NDE0NyJd">
            <div id=":5sv" class="a3s aiL msg6542641844119548767"><u></u>

                <div>
                    <div style="display:none"> </div>
                    <table bgcolor="#F2F2F2" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="max-width:600px;margin:0 auto;font-size:16px;line-height:24px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            class="m_6542641844119548767card-box m_6542641844119548767first"
                                                            width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table border="0" cellpadding="0"
                                                                            cellspacing="0"
                                                                            class="m_6542641844119548767card-box"
                                                                            width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        style="background-color:white;padding-top:30px;padding-bottom:30px">
                                                                                        <table border="0"
                                                                                            cellpadding="0"
                                                                                            cellspacing="0"
                                                                                            width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left"
                                                                                                        style="padding-top:0;padding-bottom:20px;padding-left:30px">
                                                                                                        <a href="https://edudatt.com/"
                                                                                                            target="_blank">
                                                                                                            <img src="Transparent Logo.png"
                                                                                                                alt="Edudatt"
                                                                                                                width="400"
                                                                                                                height="200"
                                                                                                                style="vertical-align:middle"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit">
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="m_6542641844119548767card-row"
                                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;text-align: center;padding-right:20px;padding-top:20px;padding-bottom:20px;margin-left:px;margin-right:px">
                                                                                                        <h2
                                                                                                            style="margin-top:0;margin-bottom:0;font-family:Helvetica,sans-serif;font-weight:normal;font-size:24px;line-height:30px;color:#b5aa2a">
                                                                                                            Let's get
                                                                                                            started,
                                                                                                            Link your
                                                                                                            child!
                                                                                                        </h2>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="m_6542641844119548767card-row"
                                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:20px;margin-left:px;margin-right:px">
                                                                                                        Hi {{username}},
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="m_6542641844119548767card-row"
                                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:20px;margin-left:px;margin-right:px">
                                                                                                        Getting started
                                                                                                        with Edudatt is
                                                                                                        quick and easy!
                                                                                                        To begin using
                                                                                                        the app and
                                                                                                        accessing all
                                                                                                        its features,
                                                                                                        you’ll need to
                                                                                                        link your child
                                                                                                        to the school
                                                                                                        through your
                                                                                                        account. This
                                                                                                        simple step
                                                                                                        unlocks a world
                                                                                                        of information
                                                                                                        and
                                                                                                        communication at
                                                                                                        your fingertips,
                                                                                                        ensuring you're
                                                                                                        always in the
                                                                                                        loop about your
                                                                                                        child’s school
                                                                                                        activities,
                                                                                                        progress, and
                                                                                                        more.
                                                                                                        <br><br>Click
                                                                                                        below to link
                                                                                                        your child:<br>
                                                                                                        {{url}}
                                                                                                        </p>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <tr>
                                                                                                    <td class="m_6542641844119548767card-row"
                                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:30px;margin-left:px;margin-right:px">
                                                                                                        <div
                                                                                                            style="padding-top:10px">
                                                                                                            Thanks,<br>The
                                                                                                            Edudatt Team
                                                                                                        </div>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" width="100%"
                                                        style="color:#65735b;font-size:12px;line-height:24px;padding-bottom:30px;padding-top:30px">
                                                        <a href="https://edudatt.com/pages/terms"
                                                            style="color:#65735b;text-decoration:underline"
                                                            target="_blank">Terms and Conditions</a> &nbsp; | &nbsp; <a
                                                            href="https://edudatt.com/pages/contact"
                                                            style="color:#65735b;text-decoration:underline"
                                                            target="_blank">Contact
                                                            Support</a>
                                                        <div
                                                            style="font-family:Helvetica,Arial,sans-serif;word-break:normal">
                                                            © Edudatt
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
            </div>
        </div>
        <div class="WhmR8e" data-hash="0"></div>
    </div>

</body>

</html>